*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.container{
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.container-header{
    width: 1170px;
    margin: 0 auto;
    
}
.row-header{
    padding: 10px 0;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;   
}
main{
    margin-top: 100px;
}
.row-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    
    
}
.img-card{
    width: 100%;
    
}
.relative{
    position: relative;
}

.first-img{
    display: block;
}

.second-img{
    display: none;
}
.content:hover .second-img{ 
    display: block;


}
.content:hover .first-img{ 
    display: none;


}


/* END UTILITIES */

/* CLASSI ED ID HEADER */
.col-33{
   width: calc(100%/3);
   color: white;
}
.logo-boolean{
    width: 100px;
}
/* FINE CLASSI ED ID HEADER */

/* CLASSI ED ID DEL MAIN */

.col{
    width: calc(100%/3 - 40px);
    margin: 10px 10px;
       
}
p span{
    color: crimson;
}

.hearts{
    font-size: 25px;
    background-color: white;
    padding: 2px 6px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3px;
}
.first-sale{
    color: white;
    background-color: red;
    padding: 3px;
    position: absolute;
    bottom: 5;

}
.second-sale{
    background-color: green;
    color: white;
    padding: 3px;
    position: absolute;
    
}


/* FINE CLASSI ED ID DEL MAIN */