*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.container{
    background-color: orange;
    width: 100%;
}
.row-header{
    padding: 10px 0;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
/* END UTILITIES */
/* CLASSI ED ID HEADER */
.col-33{
   width: calc(100%/3);
   color: white;
}
.logo-boolean{
    width: 100px;
}